.img-to-add,
input,
textarea {
  border-radius: 6px;
}

label,
input,
textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input,
textarea {
  border: 1px solid rgb(162, 162, 162);
}

input {
  height: 2rem;
}

textarea {
  /* Used rather than full-column because the active
  cursor position glitches when this is a flex item */
  width: 100%;
}

.submit {
  margin: 0;
  border-top: rgb(104, 107, 107);
  border-bottom: rgb(11, 11, 15);
}
